* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background-color: grey; */
    font-family: sans-serif;
    
}

#mini {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

#formDiv {
    width: 35%;
    margin-left: 5rem;
    height: 40%;
    background-color: gainsboro;
    border-radius: 2%;
}

form {
    padding: 2rem;
}

#tableDiv {
    width: 35%;
    margin-right: 5rem;
    margin-top: 3rem;
}

hr {
    border: 1px solid red;
    height: 70%;
    position:absolute;
    left: 50%;
}

#hrDiv {
    margin-bottom: 40rem;
}


/* To add border lines to the data table */
#example {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
  }

  #example th, #example td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  #example th {
    background-color: #f2f2f2;
  }